{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}

<div>
    <h1>Reset you password</h1>
    {% if validlink %}
        <p>Please, enter your password twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"></p>
        </form>
    {% else %}
        <p>Password reset link is not active, perhaps because it was used.
            Please, try password reset procedure again</p>
    {% endif %}
</div>
</body>
</html>