{% extends "play/base.html" %}

{% load static %}

{% block content %}
  <h3>
    {{ user.username }}
  </h3>
  <form method="post">
    {% csrf_token %}
    <div class="d-flex flex-column form-max-width">
      {% if form.error %}
        <div>
          {{ form.error }}
        </div>
      {% endif %}
      {% for f in form %}
        <div class="my-2">
          {{ f.label }}
        </div>
        <div class="w-100">
          {{ f }}
        </div>
        {% if f.errors %}
          <div>
            {{ f.errors }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button class="my-3 btn btn-dark" type="submit">
      Save changes
    </button>
  </form>
  <div>
    <a href="{% url 'auth_app:password_change' %}">Change password</a>
  </div>
  <div>
    <a href="{% url 'auth_app:password_reset' %}">Forgot password?</a>
  </div>
{% endblock content %}
