{% extends 'play/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 text-centered">
                Messages
                <div class="messages" id="board"></div>
            </div>
            <div class="col-12 col-xl-6 bg-light">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Player</th>
                            <th scope="col">Plays</th>
                            <th scope="col">Loses</th>
                            <th scope="col">Draw</th>
                            <th scope="col">Wins</th>
                            <th scope="col">Points</th>
                            <th scope="col">Status</th>
                            <th scope="col">Info</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                        {% for player in logged_players %}
                            <tr id="table_{{ player.id }}">
                                <th scope="row">{{ player.username}}</th>
                                <th>{{ player.plays_number }}</th>
                                <th>{{ player.loses }}</th>
                                <th>{{ player.draws }}</th>
                                <th>{{ player.wins }}</th>
                                <th>{{ player.points }}</th>
                                <th id="{{ player.id }}" class="ready-to-play" style="cursor:pointer; color:blue">Yes</th>
                                <th id="proposal_{{ player.id }}" style="font-size:12px"></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 w-100 d-flex flex-column align-items-center">
                <div>Chat</div>
                <textarea rows="4" class="w-100" id="chat"></textarea>
            </div>
        </div>
    </div>

    {{ user.id|json_script:"current_user_id" }}
    {{ user.username|json_script:"current_username" }}
    <script src="{% static 'play/js/start.js' %}"></script>
{% endblock content %}