{% extends 'play/base.html' %}
{% load static %}

{% block content %}

<div>
    <h1>Reset you password</h1>
    {% if validlink %}
        <p>Please, enter your password twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"></p>
        </form>
    {% else %}
        <p>Password reset link is not active, perhaps because it was used.
            Please, try password reset procedure again</p>
    {% endif %}
</div>
{% endblock content %}}